.App {
  text-align: center;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #282c34;
}

.left-regulatins-zones {
  border: white 1px solid;
  margin-top: 3.27vh;
  margin-left: 2.5vw;
  /* flex-direction: column;
  align-items: stretch;
  display: flex; */
  color: white;
  width: 30%;
  height: 93.7vh;
  /* background-size: cover;
  justify-content: center;
  align-items: center; */
  padding: 1vh;
  display: grid;
  column-gap: 1vw;
  row-gap: 1vh;
}

.right-main-tab {
  display: flex;
  color: white;
  width: 70%;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.input-points {
  margin: 25px 0;
  display: flex;
  text-align: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 25vw;
}

.input-triangle {
  font-size: 15px;
  margin: 15px;
  width: 7vw;
  height: 4vh;
}

.textarea-problem {
  font-size: 16px;
  font-family: sans-serif;
  border: 2px solid #ccc;
  resize: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 15px;
  width: 30vw;
  height: 7vh;
}

.button-circle-div {
  height: 10vh;
  width: 25vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-circle {
  background-color: #ffffff;
  border: 1px black solid;
  border-radius: 15px;
  font-size: 3vh;
  width: 14vw;
  height: 5vh;
}

.button-circle-click {
  color: #ffffff;
  background-color: #9e1d2e;
  border: 1px white solid;
  border-radius: 15px;
  font-size: 3vh;
  width: 14vw;
  height: 5vh;
}

.button-circle:hover {
  color: #ffffff;
  background-color: #282c34;
  border: 1px white solid;
  border-radius: 15px;
  font-size: 3vh;
  width: 14vw;
  height: 5vh;
}

.figures {
  width: 4vw;
  height: 8vh;
}